# Estructuras de datos: Tuplas
La última estructura que veremos son las tuplas. Éstas son un conjunto de elementos, que pueden ser de distintos tipos, separados por comas y escritos entre paréntesis, `()`.

Las tuplas son:
- hetereogéneas: los elementos pueden ser de distinto tipo en una misma tupla
- no mutables: los elementos no pueden ser modifcados una vez la tupla ha sido creado

Un ejemplo de tupla sería

In [4]:
t = ("Nino", 32, "Bravo", True)
print(t)

('Nino', 32, 'Bravo', True)

Podemos declarar una tupla sin necesidad indicar sus elementos entre paréntesis

In [5]:
type(t)

tuple

Podemos declarar tuplas con la función `tuple()`

In [6]:
t = tuple(("Nino", 32, "Bravo", True))
type(t)

tuple

In [7]:
tuple([1,2,3])

(1, 2, 3)

## Elementos de una tupla

Podemos acceder a los elementos de una tupla mediante el índice que ocupan con la sintaxis de claudator, `[]`

In [8]:
t = 1, "a", 2, "e", 3, "i", 4, "o", 5, "u"

In [9]:
type(t)

tuple

In [10]:
print(t[0])
print(t[5])

1
i

Al igual que con las listas, podemos acceder a los elementos de tuplas mediante el uso de índices negativos

In [11]:
print(t[-1])
print(t[-4])

u
4

Para acceder a múltiples entradas de una tupla a la vez, podemos utilizar la función `:` para indicar un intervalo de índices.

In [12]:
print(t[2:6])
print(t[:5])
print(t[5:])

(2, 'e', 3, 'i')
(1, 'a', 2, 'e', 3)
('i', 4, 'o', 5, 'u')

**Observación.** Recordad que 
- el índice indicado tras los dos puntos, `:`, nunca es incluido.
- si no se indica índice a la izquierda de `:`, se considera desde el índice 0 hasta el inmediatamente anterior al indicado a la derecha de `:`
- si no se indica índice a la derecha de `:`, se considera desde el índice indicado a la izquierda de `:` hasta el último elemento

También podemos usar índices negativos con la función `:`

In [13]:
print(t[-5:-1])

('i', 4, 'o', 5)

Para saber si un elemento pertenece a una tupla, podemos usar la palabra clave `in`

In [14]:
print(6 in t)
print("i" in t)

False
True

Hemos dicho que las tuplas son inmutables. Esto es, una vez creada la tupla, sus elementos no pueden ser modificados

In [1]:
t = "Enero", "Marzo", "Diciembre"
t[1] = "Abril"

TypeError: 'tuple' object does not support item assignment

Una alternativa sería convertir a lista, realizar la modificación y reconvertir a tupla

In [16]:
t = "Enero", "Marzo", "Diciembre"
t = list(t)
t[1] = "Abril"
t = tuple(t)

print(t)
print(type(t))

('Enero', 'Abril', 'Diciembre')
<class 'tuple'>

## Concatenación de tuplas

Podemos concatenar tuplas con la función `+`, aunque el resultado será una nueva tupla, ya que recordemos éstas no pueden ser modificadas

In [17]:
t1 = 1, 3
t2 = 2, 4

t1 + t2

(1, 3, 2, 4)

## Repetición de tuplas

Podemos repetir tuplas un número $n$ de veces con la función `*`

In [18]:
t = ("a", "b", "c")
t * 5

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Tamaño de una tupla

Podemos calcular el número de elementos de una tupla con la función `len()`

In [19]:
t = ("Nino", 32, "Bravo", True)
len(t)

4

**¡Cuidado!** Si quisiésemos crear una tupla de un solo elemento, tendríamos que hacer lo siguiente

In [21]:
t1 = ("manzana", )
print(type(t1))
len(t1)

<class 'tuple'>

1

In [23]:
t1

('manzana',)

In [22]:
# Lo siguiente no es una tupla
t2 = ("manzana")
print(type(t2))

<class 'str'>

In [24]:
t2

'manzana'